<%- include('include/header') %>

<main id="site-main">
    <div class="container">
      <div class="box-nav d-flex-justify-between">
        <div class="filter text-center">
          <h2 class="text-dark">Update User</h2>
          <a href="/">All Users</a>
        </div>
      </div>
      <form method="POST" id="update-user" class="mb-5">
        <div class="form-group">
          <label for="firstname">Firstname</label>
          <input type="hidden" name="id" value="<%= user._id %>">
          <input
            type="text"
            class="form-control"
            id="firstname"
            name="firstname"
            aria-describedby="firstname"
            placeholder="Firstname"
            value="<%= user.firstname %>"
          />
        </div>
        <div class="form-group">
          <label for="lastname">Lastname</label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            placeholder="Lastname"
            value="<%= user.lastname%>"
          />
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <div class="radio inline">
              <label for="gender" class="text-dark">Male</label>
              <input type="radio" name="gender" id="male"  value="Male" <%= user.gender == 'Male' ? 'checked' : '' %> >
              <label for="gender" class="text-dark">Famale</label>
              <input type="radio" name="gender" id="famale" value="Famale" <%= user.gender == 'Famale' ? 'checked' : '' %> >
          </div>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input
            type="text"
            class="form-control"
            id="country"
            name="country"
            placeholder="Country"
            value="<%=user.country%>"
          />
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            placeholder="City"
            value="<%=user.city%>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block update">Submit</button>
      </form>
    </div>
  </main>

  <%- include('include/footer') %>
